* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: azure;
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  width: 100%;
}
/* TITLE */
.title-wrapper {
  background-color: aquamarine;
  position: fixed;
  width: 100%;
  padding: 1% 0;
  text-align: center;
  max-height: 15%;
  margin-bottom: 20px;
  box-shadow: -4px 15px 36px 9px rgba(0, 0, 0, 0.78);
}

.title-wrapper .title {
  font-size: 60px;
}

/* heading */
.heading {
  width: 100%;
  box-shadow: inset 3px -29px 36px 9px rgba(0, 0, 0, 0.78);
}

.heading img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

/* LISTS */
.lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.lists .listicle {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: 0.25s;
  border-radius: 20px;
  padding: 1.2em;
  flex-basis: 343px;
}

.listicle .list-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  padding: 10px;
}

.list-text h3 {
  font-size: 35px;
  align-self: flex-start;
}

.listicle:hover {
  box-shadow: inset 2px -57px 29px -61px rgba(204, 2, 100, 0.32);
  transition: 0.25s;
}

.listicle:hover .list-text {
  transition: 0.2s;
  scale: 1.05;
  border-bottom: 3px;
}

/* FORM */

.form-section form {
  display: flex;
  padding: 4%;
  padding-bottom: 1%;
}

.form-section fieldset {
  border: none;
  flex-grow: 1;
  align-self: center;
}

fieldset legend {
  font-size: 20px;
  font-weight: bold;
}

.form-section .photo-url {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.photo-url input {
  margin: 5px 15px;
  width: 200px;
  height: 25px;
  padding: 5px;
  border-radius: 20px;
}

.photo-url button {
  padding: 10px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 1%;
}

/* QUERIES */

@media screen and (max-width: 750px) {
  .form-section form {
    flex-direction: column;
  }

  .form-section .photo-url {
    justify-content: center;
  }
}
