* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* TITLE */
.title-wrapper {
  background-color: aquamarine;
  position: fixed;
  width: 100%;
  padding: 12% 0;
  text-align: center;
}

.title-wrapper .title {
  font-size: 60px;
}
